<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Aplikacja Taco Cloud</title>
	<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Przygotuj wlasne taco </h1>
	<img th:src="@{/images/TacoCloud.png}"/>

	<form method="POST" th:object="${design}">

		    <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Ingredient Error</span>
		<div class="grid">


			<div class ="ingredient-group" id="wraps">
				<h3>Wybierz rodzaj maki :</h3>
				<div th:each="ingredient : ${wrap}">
					<input  name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
					<span th:text="${ingredient.name}">SKLADNIK</span><br/>
				</div>
			</div>

			<div class ="ingredient-group" id="proteins">
				<h3>Wybierz mieso:</h3>
				<div th:each="ingredient : ${protein}">
					<input type="checkbox" name="ingredients" th:value="${ingredient.id}" />
					<span th:text="${ingredient.name}">SKLADNIK</span><br/>
				</div>
			</div>


			<div class ="ingredient-group" id="cheeses">
				<h3>Wybierz sery:</h3>
				<div th:each="ingredient : ${cheese}">
					<input type="checkbox" name="ingredients" th:value="${ingredient.id}" />
					<span th:text="${ingredient.name}">SKLADNIK</span><br/>
				</div>
			</div>



			<div class ="ingredient-group" id="veegies">
				<h3>Wybierz warzywa:</h3>
				<div th:each="ingredient : ${veggies}">
					<input type="checkbox" name="ingredients" th:value="${ingredient.id}" />
					<span th:text="${ingredient.name}">SKLADNIK</span><br/>
				</div>
			</div>



			<div class ="ingredient-group" id="sauces">
				<h3>Wybierz sosy:</h3>
				<div th:each="ingredient : ${sauce}">
					<input type="checkbox" name="ingredients" th:value="${ingredient.id}" />
					<span th:text="${ingredient.name}">SKLADNIK</span><br/>
				</div>
			</div>
		</div>


		<div>
			<h3>Nadaj nazwe twojemu taco:</h3>
			<input type="text" th:field="*{name}"/>
				<span th:text="${#fields.hasErrors('name')}">XXX</span>
				<span class="validationError"
          					th:if="${#fields.hasErrors('name')}"
          					th:errors="*{name}">Niepoprawne imie</span>
			<br/>
			<button>Wyslij swoje zamowienie</button>
		</div>

	</form>
</body>
</html>